### Q001. dict1 이라는 이름으로 빈 딕셔너리를 만드세요.

### Q002. '철수':27, '민철':30, '남희':28의 key와 value들을 갖는 our_team 이라는 이름의 딕셔너리를 만드세요.

### Q003. 2번에서 만든 our_team 딕셔너리의 key값들을 이용해서 value 값들을 각각 출력해보세요.

### Q004. 아래 리스트를 이용해서 딕셔너리를 만들었습니다. key값들을 이용해서 value 값들을 출력해 봅시다.

In [0]:
a = ['kim', 'park', 'lee']
b = ['LA', 'Seoul', 'Pusan']
c = [24, 52, 33]

dic1 = {'name':a, 'loc':b, 'age':c}

### Q005. 아래 딕셔너리의 key 값들만 모아서 출력해 봅시다.

In [0]:
a = {'name':'John', 'loc':'LA', 'age':33}

### Q006. 아래 딕셔너리의 key값들을 모아서 리스트로 만들어 봅시다.

In [0]:
a = {'name':'John', 'loc':'LA', 'age':33}

### Q007. 아래 딕셔너리의 value 값들을 모아서 리스트로 만들어 봅시다.

In [0]:
a = {'name':'John', 'loc':'LA', 'age':33}

### Q008. 아래 딕셔너리의 key, value 값의 쌍을 리스트로 만들어 봅시다.

In [0]:
a = {'name':'John', 'loc':'LA', 'age':33}

### Q009. 아래 딕셔너리의 key, value 값의 쌍을 지워봅시다.

In [0]:
a = {'name':'John', 'loc':'LA', 'age':33}

### Q010. 아래 딕셔너리에서 key값으로 'age'가 있는지 조사하시오.

In [0]:
a = {'name':'John', 'loc':'LA', 'sex':'male'}